


.owl-carousel{
    .owl-nav {
        button.owl-prev{
            position: absolute;
            left: -30px;
            top: -10px;
        }

        button.owl-next{
            position: absolute;
            right: 30px;
            top: -10px;
        }
    }
}





.mytestimonal .item img {
    width: 60% !important;
    margin: 0 auto 10px;
    border-radius: 50%;
    border: 3px solid #fff;
}